@charset "UTF-8";

/*reset*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  /*vertical-align: baseline;*/
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /*background:#fff;*/
  line-height: 150%;
  color: #333;
  font-size: 12px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

legend {
  display: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #333;
}

ins {
  text-decoration: none;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/*reset end
===================================================================================================================*/

html {
  -webkit-text-size-adjust: none;
}

/*禁用iphone中safari的字号自动调整*/

input[type="text"],
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="number"] {
  -webkit-appearance: none;
  border-radius: 0;
}

/*去除iphone默认样式（input的圆角）*/

input[type="checkbox"] {
  margin: 0 3px 3px 4px;
}

img {
  max-width: 100%;
}

/*液态图片*/

video {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/*液态视频*/

/*公共属性*/

html {
  background: #f5f7fb !important;
}

/*公共块*/

.ul-col-3 {
  width: 100%;
  list-style: none;
  overflow: hidden;
}

.ul-col-3 li {
  width: 33.33%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box;
}

.place_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*头*/

.header-section {
  width: 100%;
  height: 44px;
  line-height: 44px;
  position: relative;
  background-color: #fff;
}

.header-section h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #333;
}

.header-section .go {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 0;
  top: 50%;
  margin-top: -22px;
}

.header-section .go:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 18px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 0 -1px;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -9px;
}

/*全屏图*/

.full-screen-section {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

.full-screen-section:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.full-screen-section img {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

/*头图*/

.full-screen-section .b-info {
  position: absolute;
  width: 100%;
  height: 40px;
  line-height: 40px;
  left: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
}

.full-screen-section .b-info .r-txt {
  float: right;
  font-size: 1.2rem;
  color: #fff;
  padding-right: 10px;
  position: relative;
}

.full-screen-section .b-info .r-txt.icon-photo:before {
  content: '';
  position: absolute;
  width: 13px;
  height: 11px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -231px -5px;
  top: 50%;
  margin-top: -6px;
  left: -15px;
}

.full-screen {
  position: relative;
}

.full-screen img {
  width: 100%;
  display: block;
}

.logo-txt {
  position: relative;
  padding: 0 0 0 40px;
  float: left;
}

.logo-txt img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 50%;
  margin-top: -20px;
}

/*块*/

.section,
.section-continer,
.section-item {
  width: 100%;
  margin-top: 10px;
  position: relative;
  background: #fff;
}

.section.not,
.section-continer.not,
.section-item.not {
  margin-top: 0px;
}

.section .section-warp,
.section-continer .section-warp,
.section-item .section-warp {
  padding: 0 15px;
}

.section .section-warp_5,
.section-continer .section-warp_5,
.section-item .section-warp_5 {
  padding: 0 15px 0 10px;
}

.section .section-warp_5 p.txt,
.section-continer .section-warp_5 p.txt,
.section-item .section-warp_5 p.txt {
  padding-left: 5px;
}

.section .section-full-screen,
.section-continer .section-full-screen,
.section-item .section-full-screen {
  padding-top: 15px;
}

.section .section-row,
.section-continer .section-row,
.section-item .section-row {
  position: relative;
}

.section .section-row p.txt,
.section-continer .section-row p.txt,
.section-item .section-row p.txt {
  font-size: 1.8rem;
  color: #333;
  line-height: 24px;
  padding-top: 10px;
}

.section .section-row p.txt .box-txt,
.section-continer .section-row p.txt .box-txt,
.section-item .section-row p.txt .box-txt {
  width: 100%;
  position: relative;
  height: 120px;
  overflow: hidden;
  display: block;
}

.section .section-row p.txt .box-txt.up,
.section-continer .section-row p.txt .box-txt.up,
.section-item .section-row p.txt .box-txt.up {
  height: auto;
}

.section .section-row p.txt .lnk,
.section-continer .section-row p.txt .lnk,
.section-item .section-row p.txt .lnk {
  width: 100%;
  height: 30px;
  display: block;
  position: relative;
}

.section .section-row p.txt .lnk:before,
.section-continer .section-row p.txt .lnk:before,
.section-item .section-row p.txt .lnk:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 40px;
  display: block;
  top: -35px;
  left: 0;
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, white 100%);
}

.section .section-row p.txt .lnk:after,
.section-continer .section-row p.txt .lnk:after,
.section-item .section-row p.txt .lnk:after {
  content: '';
  position: absolute;
  width: 16px;
  height: 9px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -94px -14px;
  left: 50%;
  top: 50%;
  margin-top: -5px;
  margin-left: -6px;
}

.section .section-row p.txt .lnk.up:after,
.section-continer .section-row p.txt .lnk.up:after,
.section-item .section-row p.txt .lnk.up:after {
  background-position: -112px -14px;
}

.section .section-row p.txt .lnk.up:before,
.section-continer .section-row p.txt .lnk.up:before,
.section-item .section-row p.txt .lnk.up:before {
  display: none;
}

.section a.ref,
.section-continer a.ref,
.section-item a.ref {
  width: 100%;
  display: block;
}

.section-item {
  padding-bottom: 15px;
  z-index: 10;
  margin-bottom: 10px;
}

.section-item .daV .second-scroll-row {
  padding-bottom: 0;
}

.section-continer {
  border-top: none;
  background: none;
}

/*车展版*/

.gallery-section {
  padding: 0 15px;
  height: 70px;
  overflow: hidden;
  background-color: #fff;
}

.gallery-section .logo-txt {
  height: 70px;
  line-height: 70px;
  font-size: 1.8rem;
  color: #333;
}

.gallery-section .posit-lnk {
  float: right;
  font-size: 1.4rem;
  color: #999;
  line-height: 70px;
}

.gallery-section .posit-lnk a {
  display: inline-block;
  color: #333;
  position: relative;
  padding: 0 0 0 10px;
}

.gallery-section .posit-lnk a:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 14px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -232px -20px;
  left: -2px;
  top: 50%;
  margin-top: -7px;
}

/*人信息块*/

/*人物面板-logo*/

.person-txt {
  float: left;
  padding: 15px 0 0 35px;
  height: 35px;
  display: block;
}

.person-txt.person-txt-song {
  line-height: 35px;
}

.person-txt.person-txt-song h6 {
  color: #999;
  font-size: 1.2rem;
}

.person-txt .img-box {
  position: absolute;
  width: 35px;
  height: 35px;
  left: 0;
  top: 50%;
  margin-top: -10px;
}

.person-txt .img-box img {
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
}

.person-txt .img-box .v {
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -229px -37px;
  bottom: -6px;
  right: -2px;
}

.person-txt .person-content {
  width: 100%;
  display: block;
  padding-left: 10px;
  h6-font-size: 1.4rem;
  h6-color: #333;
  h6-line-height: 18px;
}

.person-txt .person-content p {
  font-size: 1.2rem;
  color: #999;
  line-height: 16px;
}

/*人物面板-关注*/

.person-right {
  float: right;
  padding: 15px 0 0;
  width: 58px;
  position: relative;
}

.person-right .lnk-attention {
  width: 56px;
  height: 26px;
  font-size: 1.2rem;
  color: #825DDF;
  line-height: 26px;
  text-align: center;
  border: 1px solid #825DDF;
  color: #825DDF;
  border-radius: 2px;
  display: block;
}

.person-right .drop {
  position: relative;
  height: 30px;
}

.person-right .drop i {
  position: absolute;
  width: 12px;
  height: 8px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -80px -13px;
  display: block;
  top: 50%;
  margin-top: -3px;
  right: 10px;
}

.person-right .drop .layer {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
  width: 88px;
  height: 17px;
  padding: 7px 0;
  border-radius: 5px;
  text-align: center;
  display: none
}

.person-right .drop .layer a {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  border: 0;
}

.person-right .drop .layer:after {
  content: "";
  display: block;
  position: absolute;
  top: -7px;
  right: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(0, 0, 0, 0.8);
}

.person-right .ad {
  padding: 0 5px;
  font-size: 1.1rem;
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 2px;
  float: right;
  margin-top: 5px;
}

/*内容图片面板*/

.info-photo,
.info-tim {
  position: relative;
  padding: 0 130px 0 0;
}

.info-photo h6,
.info-tim h6 {
  font-size: 1.8rem;
  color: #333;
  line-height: 24px;
  min-height: 50px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.info-photo h6 .lnk,
.info-tim h6 .lnk {
  color: #825DDF;
  padding-left: 5px;
}

.info-photo .img-box,
.info-tim .img-box {
  width: 113px;
  height: 75px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 10px;
}

.info-photo .img-box .icon-video,
.info-tim .img-box .icon-video {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -17px -1px;
  left: 50%;
  top: 50%;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 100;
  pointer-events: none;
}

.info-photo .img-box:before,
.info-tim .img-box:before {
  content: "";
  display: block;
  padding-top: 66.26%;
}

.info-photo .img-box img,
.info-tim .img-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.info-photo .img-box .living,
.info-tim .img-box .living {
  position: absolute;
  padding: 2px 5px 2px 8px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
  background-color: #FF4F53;
}

.info-photo .img-box .living:before,
.info-tim .img-box .living:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.info-photo .img-box .lived,
.info-tim .img-box .lived {
  position: absolute;
  padding: 2px 5px 2px 5px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
  background-color: #825DDF;
}

.info-photo {
  min-height: 85px;
  box-sizing: border-box;
  padding-top: 10px;
}

.info-photo-brand {
  font-size: 1.2rem;
  color: #825DDF !important;
  text-align: right;
  line-height: 12px;
  position: relative;
  padding: 0 0 0 60px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-top: 7px;
  height: 12px;
}

.info-photo-brand a {
  display: inline-block;
  color: #825DDF !important;
  padding: 0 0 0 5px;
}

.info-photo-brand .time {
  color: #999;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
}

/*图片3排块*/

.col-img-3 {
  width: 100%;
  padding-top: 10px;
  list-style: none;
  box-sizing: border-box;
  display: table;
}

.col-img-3 li {
  width: 33.33%;
  display: table-cell;
  box-sizing: border-box;
  padding-left: 5px;
}

.col-img-3 li .img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

.col-img-3 li .img-box:before {
  content: "";
  display: block;
  padding-top: 66.26%;
}

.col-img-3 li .img-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.col-img-3 li .img-box .icon-photo {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0 5px 0 20px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 1.1rem;
  color: #fff;
  line-height: 11px;
  border-radius: 18px;
  height: 18px;
  line-height: 18px;
}

.col-img-3 li .img-box .icon-photo:before {
  content: '';
  position: absolute;
  width: 11px;
  height: 9px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -215px -6px;
  top: 50%;
  margin-top: -5px;
  left: 5px;
}

/*列表正在加载提示*/

.loading-txt,
.loaded-txt {
  text-align: center;
  width: 100%;
  padding: 10px 0;
}

.loading-txt span,
.loaded-txt span {
  font-size: 1.4rem;
  color: #999;
  position: relative;
}

.loading-txt span {
  padding-left: 20px;
}

.loading-txt span:before {
  content: '';
  position: absolute;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -230px -59px;
  top: 50%;
  margin-top: -7px;
  width: 14px;
  height: 14px;
  left: 0;
  display: block;
  animation: kf-loading 600ms linear 0s infinite backwards;
}

@keyframes kf-loading {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*选品牌-推荐列表*/

.hot-recommend {
  padding: 0 15px 5px 5px;
}

.hot-recommend ul li {
  border-bottom: none;
}

.hot-recommend ul li span {
  width: 100%;
  display: block;
  font-size: 1.4rem;
  color: #333;
  text-align: center;
  margin-top: 6px;
}

.phone-title.frist {
  background: none;
  border-bottom: none;
  border-top: 1px solid #eaeef5;
  font-size: 1.6rem;
  color: #825DDF;
  padding: 10px 0 0;
}

.fixed-nav a {
  color: #666;
}

.tt-small {
  background-color: #fff;
}

.tt-small span {
  color: #825DDF !important;
}

.pic-txt-h strong {
  color: #FF4F53;
}

/*提示层*/

.hint-section {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 60px;
  top: 50%;
  margin-top: -30px;
  z-index: 100;
}

.hint-section .hint-section-center {
  padding: 20px 15px;
  background: rgba(0, 0, 0, 0.8);
  display: inline-block;
  border-radius: 5px;
}

.hint-section .hint-section-center p {
  font-size: 1.4rem;
  color: #fff;
  line-height: 16px;
}

/*标题栏*/

.frist-title {
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  overflow: hidden;
  background-color: #fff;
}

.frist-title h2 {
  font-size: 1.6rem;
  color: #825DDF;
  float: left;
  font-weight: bold;
}

.frist-title .more {
  float: right;
  font-size: 1.4rem;
  color: #999;
  position: relative;
  margin-right: 10px;
}

.frist-title .more:after {
  content: '';
  position: absolute;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -52px -11px;
  right: -10px;
  top: 50%;
  margin-top: -5px;
  width: 6px;
  height: 10px;
}

/*滑动块*/

.second-scroll-box {
  position: relative;
  background-color: #fff;
}

.second-scroll-box .second-scroll {
  background: #fff;
  overflow: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.second-scroll-box .second-scroll ul {
  padding-left: 15px;
  white-space: nowrap;
}

.second-scroll-box .second-scroll ul li {
  display: inline-block;
}

/*品牌找车*/

.brand-labels {
  padding: 0px 0 15px 0px;
}

.brand-labels ul li {
  margin-right: 26px;
}

.brand-labels ul li img {
  width: 40px;
  height: 40px;
  display: block;
}

.brand-labels ul li span {
  font-size: 1.2rem;
  color: #333;
  text-align: center;
  display: block;
  line-height: 28px;
}

.brand-labels ul li:last-child {
  margin-right: 15px;
}

/*导航标签*/

.nav-labels {
  background-image: url(../img/oval-bar.png);
  background-size: 100% 49px;
  background-repeat: no-repeat;
  line-height: 48px;
}

.nav-labels .second-scroll {
  background: none;
}

.nav-labels ul li {
  margin-right: 10px;
}

.nav-labels ul li:last-child {
  margin-right: 15px;
}

.nav-labels ul li.current span {
  background: #fff;
  color: #825DDF;
}

.nav-labels ul li span {
  font-size: 1.5rem;
  color: #825DDF;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  color: #fff;
}

/*时间轴列表*/

.section-time {
  padding-left: 7px;
}

.section-time .section-time-box {
  width: 100%;
  border-left: 1px dashed #b59ff1;
  min-height: 40px;
  padding-left: 7px;
  box-sizing: border-box;
}

.section-time .section-time-box .section-warp {
  background: #fff;
}

.section-time .section-time-box .section-warp .info-photo {
  padding-bottom: 0;
}

.section-time .section-time-star {
  position: relative;
  left: -20px;
  top: 0px;
  width: 100%;
  display: block;
}

.section-time .section-time-star span {
  background-color: #FF4F53;
  display: inline-block;
  padding: 0 10px 0 23px;
  font-size: 1.4rem;
  color: #fff;
  position: relative;
  z-index: 40;
  line-height: 24px;
  height: 24px;
}

.section-time .section-time-star span:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-block;
  top: 50%;
  margin-top: -4px;
  left: 9px;
}

.section-time .section-time-star span:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 24px solid #FF4F53;
  border-right: 6px solid transparent;
  right: -6px;
  top: 0;
}

.section-time .section-time-star .txt-img {
  width: 100%;
  height: 30px;
  text-align: center;
  display: block;
  margin-left: 20px;
}

.section-time .section-time-star .txt-img .txt-img-box {
  display: inline-block;
  position: relative;
  padding: 0 0 0 44px;
  font-size: 2.2rem;
  color: #fff;
  z-index: 10;
}

.section-time .section-time-star .txt-img .txt-img-box img {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0;
  top: 50%;
  margin-top: -20px;
}

.section-time .section-bwm {
  width: 100%;
  background: #825ddf;
  position: relative;
  padding-bottom: 15px;
}

.section-time .section-bwm i.lgr {
  position: absolute;
  width: 30px;
  height: 100%;
  background: #825ddf;
  top: 0;
  left: -15px;
}

.section-time .section-bwm .line {
  content: '';
  position: absolute;
  width: 0px;
  height: 100%;
  border-left: 1px dashed #B59FF1;
  left: -8px;
  top: 0;
  z-index: 10;
}

.section-time .section-bwm:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 68px;
  background-image: url(../img/bmw-l.png);
  background-repeat: no-repeat;
  background-size: 30px 68px;
  left: -15px;
  top: 0;
  background-position: 0 4px;
  z-index: 2;
}

.section-time .section-bwm:before {
  position: absolute;
  width: 100%;
  height: 68px;
  content: '';
  background-image: url(../img/section-bmw.png);
  background-size: 100% 68px;
  top: 0;
  left: 0;
}

/*右侧浮层块*/

.right-star {
  position: fixed;
  right: 0;
  bottom: 90px;
  width: 60px;
  height: 30px;
  background-color: #825DDF;
  box-sizing: border-box;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  overflow: hidden;
  font-size: 1.4rem;
  color: #fff !important;
  line-height: 30px;
  padding: 0 0 0 25px;
  z-index: 99;
}

.right-star:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -62px -11px;
  top: 50%;
  margin-top: -4px;
  left: 15px;
}

.flex-right-model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10000;
  overflow: hidden;
  transform: translate(100%, 0);
  transition: transform .4s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform-origin: 0 0;
}

.flex-right-model.model-block {
  transform: translate(0, 0);
}

.flex-right-model .lnk-star {
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: #825DDF;
  box-sizing: border-box;
  bottom: 90px;
  left: 10px;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  overflow: hidden;
  font-size: 1.4rem;
  color: #fff;
  line-height: 30px;
  padding: 0 0 0 25px;
  pointer-events: none;
  z-index: 100;
}

.flex-right-model .lnk-star:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 10px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -72px -11px;
  top: 50%;
  margin-top: -4px;
  left: 15px;
}

.flex-right-model .right-model-table {
  width: 100%;
  height: 100%;
  display: table;
}

.flex-right-model .right-model-table .right-model-table-left {
  display: table-cell;
  width: 70px;
}

.flex-right-model .right-model-table .right-model-table-right {
  display: table-cell;
  background-color: #fff;
  position: relative;
}

.flex-right-model .right-model-table .right-model-table-right .right-model-scroll-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flex-right-model .section-time .section-time-star {
  left: -15px;
}

.flex-right-model .section-time .section-time-star span:before {
  background-color: #FEE195;
  left: 4px;
}

.flex-right-model .section-item {
  margin-top: 0;
}

.model-image-title {
  padding: 10px 0;
}

.model-image-title h2 {
  width: 82px;
  height: 36px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -56px -41px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
  color: #fff;
  line-height: 44px;
}

/*******************************页面****************************/

/*首页导航*/

.index-nav .second-scroll {
  background-color: #6737bc;
  padding: 0 0 15px;
}

.index-nav .second-scroll ul {
  list-style: none;
}

.index-nav .second-scroll ul li {
  margin-right: 5px;
}

.index-nav .second-scroll ul li a {
  width: 80px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: block;
  border-radius: 3px;
  font-size: 1.4rem;
  color: #fff;
  position: relative;
}

.index-nav .second-scroll ul li a.nav-live {
  background-color: #9C74FF;
}

.index-nav .second-scroll ul li a.nav-live:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 37px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: 0 -92px;
  right: 0;
  top: 50%;
  margin-top: -19px;
}

.index-nav .second-scroll ul li a.nav-video {
  background-color: #649FFF;
}

.index-nav .second-scroll ul li a.nav-video:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 37px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -1px -140px;
  right: 0;
  top: 50%;
  margin-top: -19px;
}

.index-nav .second-scroll ul li a.nav-self {
  background-color: #FF686C;
}

.index-nav .second-scroll ul li a.nav-self:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 37px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -8px -186px;
  right: 0;
  top: 50%;
  margin-top: -19px;
}

.index-nav .second-scroll ul li a.nav-expert {
  background-color: #F5A623;
}

.index-nav .second-scroll ul li a.nav-expert:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 37px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -57px -92px;
  right: 0;
  top: 50%;
  margin-top: -19px;
}

.index-nav .second-scroll ul li a.nav-camera {
  background-color: #649FFF;
}

.index-nav .second-scroll ul li a.nav-camera:before {
  content: '';
  position: absolute;
  width: 36px;
  height: 37px;
  background-image: url(../img/public.png);
  background-repeat: no-repeat;
  background-size: 250px auto;
  background-position: -58px -132px;
  right: 0;
  top: 50%;
  margin-top: -19px;
}

.index-nav .second-scroll ul li a span {
  position: relative;
  z-index: 10;
}

.index-nav .second-scroll ul li:last-child {
  margin-right: 15px;
}

/*焦点图*/

.m-focus {
  background-color: #6737bc;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.m-focus .swiper-container {
  padding-right: 15px;
  box-sizing: border-box;
}

.m-focus .swiper-container .swiper-wrapper .swiper-slide {
  padding-left: 15px;
  box-sizing: border-box;
}

.m-focus .swiper-container .swiper-wrapper .swiper-slide a {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: block;
}

.m-focus .swiper-container .swiper-wrapper .swiper-slide a:before {
  content: "";
  display: block;
  padding-top: 50%;
}

.m-focus .swiper-container .swiper-wrapper .swiper-slide a img {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.m-focus .swiper-container .swiper-wrapper .swiper-slide .mask-tt {
  width: auto;
  height: 28px;
  line-height: 30px;
  color: #fff;
  position: absolute;
  bottom: 4px;
  left: 0;
  font-size: 1.4rem;
  overflow: hidden;
}

.m-focus .swiper-container .swiper-wrapper .swiper-slide .mask-tt span {
  padding: 0 0 0 15px;
}

.m-focus .swiper-container .pagination-num {
  color: #999;
  font-size: 1.4rem;
  position: absolute;
  bottom: 8px;
  right: 25px;
  z-index: 2;
}

/*推荐易车号*/

.daV .second-scroll-row {
  white-space: nowrap;
  padding: 0 0 15px 5px;
  height: 68px;
}

.daV .second-scroll-row .guanzhu-box {
  width: 70px;
  display: inline-block;
  padding: 0 5px;
}

.daV .second-scroll-row .guanzhu-box:last-child {
  padding: 0 10px 0 5px;
}

.daV .second-scroll-row .guanzhu-box .index-comment-list {
  width: 100%;
  display: block;
}

.daV .second-scroll-row .guanzhu-box .index-comment-list .comment_photo {
  width: 50px;
  height: 50px;
  display: block;
  position: relative;
  margin: 0 auto;
}

.daV .second-scroll-row .guanzhu-box .index-comment-list .comment_photo img {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}

.daV .second-scroll-row .guanzhu-box .index-comment-list .comment_photo .v {
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -229px -37px;
  bottom: -4px;
  right: 0px;
}

.daV .second-scroll-row .guanzhu-box .index-comment-list .name {
  width: 100%;
  font-size: 1.4rem;
  color: #333;
  display: block;
  text-align: center;
  margin-top: 5px;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  line-height: 14px;
}

.daV .second-scroll-row .guanzhu-box .index-comment-list .fans,
.daV .second-scroll-row .guanzhu-box .index-comment-list .btn {
  display: none;
}

.section-flex-bottom {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 50;
}

.section-flex-bottom .robot-ad {
  width: 100%;
  height: 75px;
  background: rgba(109, 81, 155, 0.5);
  display: blo      ck;
  position: relative;
  box-sizing: border-box;
  padding: 0 30px 0 85px;
}

.section-flex-bottom .robot-ad .close {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #6D519B;
  border-radius: 50%;
  top: 50%;
  margin-top: -18px;
  left: 25px;
}

.section-flex-bottom .robot-ad .close:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -229px -77px;
  top: 50%;
  left: 50%;
  margin-left: -8px;
  margin-top: -8px;
}

.section-flex-bottom .robot-ad .robot-imgbox {
  width: 100%;
  display: block;
  position: relative;
  height: 75px;
}

.section-flex-bottom .robot-ad .robot-imgbox:before {
  content: '';
  position: absolute;
  background-image: url(../img/robot.png);
  background-size: 279px auto;
  top: -43px;
  left: 0;
  width: 279px;
  height: 169px;
  pointer-events: none;
}

/*列表导航*/

.control-nav {
  padding: 0 80px 0 0;
  background-color: #fff;
  height: 48px;
  margin-bottom: 10px;
}

.control-nav ul {
  overflow: hidden;
}

.control-nav ul li {
  float: left;
  padding: 0 15px;
}

.control-nav ul li span {
  font-size: 1.6rem;
  color: #333;
  padding: 15px 0;
  display: block;
  position: relative;
  text-align: center;
}

.control-nav ul li.current span {
  color: #825DDF;
}

.control-nav ul li.current span:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  left: 50%;
  bottom: 0;
  margin-left: -8px;
  background-color: #825DDF;
}

.control-nav .control-nav-rightbox {
  position: absolute;
  width: 80px;
  height: 48px;
  right: 15px;
  top: 0;
  text-align: right;
}

.control-nav .control-nav-rightbox .drop-box {
  padding: 15px 0;
  position: relative;
}

.control-nav .control-nav-rightbox .drop-box span {
  height: 21px;
  font-size: 1.5rem;
  color: #333;
  padding-right: 15px;
  position: relative;
}

.control-nav .control-nav-rightbox .drop-box span:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 6px;
  background-image: url(../img/public.png);
  background-size: 250px auto;
  background-repeat: no-repeat;
  background-position: -79px -14px;
  right: 0;
  top: 50%;
  margin-top: -3px;
}

.control-nav .control-nav-rightbox .drop-box .drop-model {
  position: absolute;
  width: 82px;
  top: 48px;
  left: 50%;
  margin-left: -27px;
  border: 1px solid #E1E1E1;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 100;
}

.control-nav .control-nav-rightbox .drop-box .drop-model .drop-model-select {
  list-style: none;
  background-color: #fff;
  padding: 10px 0;
  box-sizing: border-box;
}

.control-nav .control-nav-rightbox .drop-box .drop-model .drop-model-select li {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 1.4rem;
  color: #666;
  line-height: 20px;
  padding: 5px 0;
  box-sizing: border-box;
}

.control-nav .control-nav-rightbox .drop-box .drop-model .drop-model-select li a {
  width: 100%;
  display: block;
}

.section-picture-cell {
  background: none;
  overflow: hidden;
  box-sizing: border-box;
}

.section-picture-cell.cell-2 li {
  width: 50%;
  float: left;
  padding-right: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.section-picture-cell.cell-2 li a {
  display: block;
}

.section-picture-cell.cell-2 li .img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section-picture-cell.cell-2 li .img-box:before {
  content: "";
  display: block;
  padding-top: 66.26%;
}

.section-picture-cell.cell-2 li .img-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.section-picture-cell.cell-2 li .img-box .living {
  position: absolute;
  padding: 2px 5px 2px 8px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
  background-color: #FF4F53;
}

.section-picture-cell.cell-2 li .img-box .living:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.section-picture-cell.cell-2 li .img-box .lived {
  position: absolute;
  padding: 2px 5px 2px 5px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
  background-color: #825DDF;
}

.section-picture-cell.cell-2 li .forecast {
  position: absolute;
  padding: 2px 5px 2px 5px;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  color: #fff;
  z-index: 2;
  background-color: #508CEE;
}

.section-picture-cell.cell-2 li h6 {
  font-size: 1.6rem;
  color: #333;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-top: 5px;
}

.section-item .img-list-set {
  padding: 10px 0 0 0;
}

.col-img-3 li:first-child {
  padding: 0;
}

div.img-list-set ~ div.info-tim {
  padding: 0;
}
